<footer class="border-top">
  <div class="container text-center pt-4 pb-4">
    <h4>PureInsight</h4>
  
    <p class="mb-1">
      <a href="/feed.xml" class="rss-link">
        <i class="fas fa-rss"></i>Subscribe
      </a>
    </p>
    
    <a href="mailto:jahanzebliaqatkhan@hotmail.com">jahanzebliaqatkhan@hotmail.com</a>

    <div class="social-icons">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#" class="twitter-icon"><i class="fab fa-twitter"></i></a>
    </div>

    <span>MADE WITH <i class="fas fa-heart text-danger"></i> BY 
      <a href="#">Jahanzeb Liaqat</a>

    <p class="mt-2">&copy; <span class="copy-right-year"></span> PureInsight</p>
  </div> <!-- container -->
</footer>
