<footer class="border-top">
  <div class="container text-center pt-4 pb-4">
    <h4>PureInsight</h4>

    {% include newsletter.html %}
  
    <p class="mb-1">
      <a href="/feed.xml" class="rss-link">
        <i class="fas fa-rss"></i>RSS
      </a>
    </p>
    
    <a href="mailto:jahanzebliaqatkhan@hotmail.com">jahanzebliaqatkhan@hotmail.com</a>

    <div class="social-icons">
      <a href="https://www.facebook.com/pureinsight786/"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/PureInsight786" class="twitter-icon"><i class="fab fa-twitter"></i></a>
    </div>

    <span>MADE WITH <i class="fas fa-heart text-danger"></i> BY 
      <a href="https://www.facebook.com/jahanzeb.liaqat.39/">Jahanzeb Liaqat</a>

    <p class="mt-1 mb-1">
      <a href="/sitemap.xml" class="rss-link">
        <i class="fas fa-sitemap"></i>Sitemap
      </a>
    </p>

    <p>&copy; <span class="copy-right-year"></span> PureInsight</p>
  </div> <!-- container -->
</footer>
