<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

      <a class="navbar-brand" href="/">{{ site.title }}</a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">

          {% include dropdown_collection.html name="categories" %}
          {% include dropdown_collection.html name="authors" %}

          <li class="nav-item">
            <a class="nav-link" href="/about/">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="https://tinyletter.com/PureInsight" target="_blank">Newsletter</a>
          </li>

          <li class="nav-item">
            <a href="/feed.xml" class="nav-link rss-link">
              <i class="fas fa-rss"></i>RSS
            </a>
          </li>

        </ul>
      </div>
    </div> <!-- .container -->
  </nav>
</header>
