footer {
  margin-top: 3rem;
}

footer h4 {
  font-weight: 400;
}

// footer a {
//   display: block;
//   margin-bottom: .5rem;
// }

footer .social-icons a {
  margin-right: 10px;
  text-decoration: none;
  font-size: 40px;
}

.twitter-icon {
  color: #50AAF4;
}
