---
layout: default 
---
{% assign author = site.authors | where: 'short_name', page.author | first %}
{% assign category = site.categories | where: 'short_name', page.category | first %}

<h2 class="mb-3">{{ page.title }}</h2>
<p class="text-muted mb-4">
  <img src="/assets/images/authors/{{author.image | default: site.default_author.image}}" alt="{{author.name}}" class="mini-author mr-1"> 
  {% include post_info.html post=page author=author category=category %}
</p>
{{ content | markdownify }}
