---
layout: default 
comments: true
---
{% assign author = site.authors | where: 'short_name', page.author | first %}
{% assign category = site.categories | where: 'short_name', page.category | first %}

<h2 class="mb-3">{{ page.title }}</h2>

<p class="text-muted mb-2" style="line-height: 2.5rem;">
  <img src="/assets/images/authors/{{author.image | default: site.default_author.image}}" alt="{{author.name}}" class="mini-author mr-1"> 
  {% include post_info.html post=page author=author category=category %}
</p>

<article class="post">
  <img src="/assets/images/posts/{{ page.cover_image.link | default: site.default_cover.link }}" alt="{{ page.cover_image.alt | default: site.default_cover.alt }}">
  {{ content | markdownify }}  
</article>

<section class="post-tags text-center">
  {% for tag in page.tags %}
    <span>{{ tag | capitalize }}</span>
  {% endfor %}
</section>

{% include comments.html %}
